BODY {
    color: #3b4043;
    font-family: Verdana, Arial, sans-serif;
}

P {
    font-size: 12pt;
    text-align: justify;
}

p em {
    color: forestgreen;
}

dfn {
    font-size: 8pt;
}

H1,
H2,
H3 {
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    letter-spacing: 1mm;
    margin-left: 30px
}

H1 {
    font-size: 36pt;
    text-shadow: rgb(130, 216, 245) 1mm 1mm 1px;
    font-weight: bold;
    color: forestgreen
}

H2 {
    font-size: 16pt
}

H3 {
    font-size: 14pt;
    color: forestgreen;
}

blockquote p {
    font-size: 12pt;
    font-style: italic
}

#Cnavhead {
    text-align: right;
    display: inline;
}

#horiznavbar {
    margin: 0;
    padding: 0;
    /* background-color: beige; */
}

#horiznavbar li {
    display: inline;
}

#horiznavbar a {
    color: rgb(9, 159, 209);
    padding: 5px 10px;
    text-decoration: none;
}

#horiznavbar a:hover {
    color: rgb(170, 222, 250);
    border-radius: 20px 5px;
    background-color: rgb(9, 159, 209);
}

.tip {
    display: inline-block;
    position: relative;
}

.tip:hover::after {
    content: attr(data-title);
    position: absolute;
    right: 0;
    top: 30px;
    padding: 5px 10px;
    font-size: 12px;
    color: rgb(9, 159, 209);
    border-radius: 20px 5px;
    border: 1px solid rgb(170, 222, 250);
}

#Clogo {
    float: left;
    top: 0px;
    left: 20px;
    position: absolute;
    z-index: 1;
}

#Clogo p a {
    text-decoration: none;
    color: #3b4043;
}

img {
    opacity: 0.6;
}

#Cheader {
    width: 100%;
    height: 274px;
    border-bottom: thin dotted forestgreen;
    float: left;
    text-align: center;
    /* background-color: beige; */
}

#Cnavbar {
    width: 27%;
    min-width: 240px;
    float: left;
    /* background-color:aquamarine; */
}

#navbar {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    list-style-type: none;
    margin-left: -30px;
}

#navbar ul {
    list-style-type: none;
}

#navbar li {
    padding: 5px;
}

#navbar a {
    color: rgb(9, 159, 209);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

#navbar a:hover {
    color: rgb(170, 222, 250);
    border-radius: 20px 5px;
    background-color: rgb(9, 159, 209);
}

#Cmain {
    width: 73%;
    float: left;
    /* background-color:khaki; */
}

/*    footer    */
#Cfooter {
    width: 100%;
    /* border-top: thin dotted #B1BEC6; */
    border-top: thin dotted forestgreen;
    float: left;
}

#Ckontakt {
    float: right;
    margin-right: 20px;
}

#Ckontakt p a {
    text-decoration: none;
    color: #3b4043;
}

/*    footer    */

button {
    font-size: 14pt;
    padding: 5px 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(170, 222, 250);
    border-radius: 20px 5px;
    background-color: rgb(9, 159, 209);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

button a {
    color: rgb(170, 222, 250);
    text-decoration: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}


/*---------------------------------------------*/
.col_1,
.col_2,
.col_3,
.col_4 {
    float: left;
    margin-top: 5px;
}

.col_1 {
    width: 18%;
}

.col_2 {
    width: 82%;
}

.col_3 {
    width: 55%;
}

.col_4 {
    width: 45%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#Ccont_adress,
#Cmain_kleid,
#Cmain_gebiet,
#Cende,
#Cantwort {
    width: 73%;
    float: right;
}

input[type=text],
select,
textarea,
input[type=date],
input[type=time] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px 5px;
    resize: vertical;
    font-size: 14pt;
    margin: 0px 2px;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#demo1,
#demo2,
#demo3 {
    color: forestgreen;
}

#antwort {
    color: crimson;
    font-style: italic;
}

/*---------------------------------------------*/

#colbox_1,
#colbox_2,
#colbox_3 {
    float: left;
    margin-left: 25px;
}

#colbox_2 {
    width: 45%;
}

#colbox_3 {
    width: 28%;
}

#ekleidung,
#ekriesengebiet,
#eabhol2,
#eabhol3,
#eabhol4 {
    color: forestgreen;
    font-style: italic;
    font-size: 14pt;
}

@media screen and (max-width: 820px) {
    div#Cnavbar {
        width: 50%;
    }

    div#Cmain,
    div#Ccont_adress,
    div#Cmain_kleid,
    div#Cmain_gebiet,
    div#Cende,
    div#Cantwort {
        width: 100%;
    }
}