BODY {
    color: #3b4043;
    /* background-color: #f8f8f8; */
    font-family: Verdana, Arial, sans-serif;
}

P {
    font-size: 12pt;
    text-align: justify;
}

p em {
    color: forestgreen;
}

H1,
H2,
H3 {
    font-weight: normal;
    font-family: Arial, sans-serif;
    letter-spacing: 1mm;
    margin-left: 30px
}

H1 {
    font-size: 36pt;
    /* text-shadow: rgb(150, 150, 150) 1mm 1mm 1px; */
    text-shadow: rgb(130, 216, 245) 1mm 1mm 1px;
    font-weight: bold;
    color: forestgreen;
    /* color: #d90000; */
}

H2 {
    font-size: 16pt
}

H3 {
    font-size: 14pt;
    color: forestgreen;
}

blockquote p {
    font-size: 12pt;
    font-style: italic
}

/* ul {
    list-style-type: circle;
   } */


#Cnavhead {
    text-align: right;
    display: inline;
}

#horiznavbar {
    margin: 0;
    padding: 0;
}

#horiznavbar a {
    color: rgb(9, 159, 209);
    padding: 5px 10px;
    text-decoration: none;
}

#horiznavbar a:hover {
    /* color: rgb(130, 216, 245); */
    color: rgb(170, 222, 250);
    border-radius: 20px 5px;
    background-color: rgb(9, 159, 209);
}

#horiznavbar li {
    display: inline;
}


#Clogo {
    float: left;
    opacity: 0.6;
    top: 0px;
    left: 20px;
    position: absolute;
    z-index: 1;
}


#Cheader {
    width: 100%;
    height: 274px;
    /* border-bottom: thin dotted #B1BEC6; */
    border-bottom: thin dotted forestgreen;
    float: left;
    text-align: center;
}



#Cnavbar {
    /* width: 20%; */
    min-width: 240px;
    float: left;
    /* border-right: thin dotted #B1BEC6; */
    /* border-right: thin dotted forestgreen; */
}

#navbar {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    list-style-type: none;
    margin-left: -30px;
}

#navbar ul {
    list-style-type: none;
}

#navbar li {
    padding: 5px;
}

#navbar a {
    color: rgb(9, 159, 209);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

#navbar a:hover {
    color: rgb(170, 222, 250);
    border-radius: 20px 5px;
    background-color: rgb(9, 159, 209);
}

#Cmain {
    width: 73%;
    float: left;
    /* border-top: thin dotted #B1BEC6;*/
    /* border-left: thin dotted forestgreen;*/
} 

/*    footer    */
#Cfooter {
    width: 100%;
    /* border-top: thin dotted #B1BEC6; */
    border-top: thin dotted forestgreen;
    float: left;
}

#Ckontakt,
#Cadresse,
#Clogoklein {
    float: right;
    margin-right: 20px;
}

#Ckontakt p a {
    text-decoration: none;
    color: #3b4043;
}

#Clogoklein {
    opacity: 0.6;
}
/*    footer    */